.tour-section-wrapper {
  padding: 0 40px;
  margin-top: 20px;
}
.section-concerts {
  position: relative;
  z-index: -1;
  padding: 0 150px;
  margin: 40px auto;
  padding: 40px;
  height: 70vh;
  width: 100%;
  font-size: 24px;
  p {
    font-size: 24px;
  }
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  @media (max-width: 1024px) {
    height: 100vh;
  }
}
.concerts-heading {
  text-align: center;
  font-size: 36px;
}
.concerts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 50px;
  video {
    width: 100%;
    height: 50vh;
    flex: 1;
    object-fit: cover;
    @media (max-width: 768px) {
      height: 30vh;
    }
    @media (max-width: 430px) {
      display: none;
    }
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
.tour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  flex: 1;
}
.tour-item {
  max-width: 600px;
  display: grid;
  grid-template-columns: 250px 80px 80px;
  gap: 100px;
  justify-content: center;
  justify-items: start;
  align-items: baseline;

  @media (max-width: 768px) {
    grid-template-columns: 150px 80px 80px;
    gap: 60px;
  }
  @media (max-width: 568px) {
    grid-template-columns: 130px 80px 80px;
    gap: 20px;
  }
  @media (max-width: 500px) {
    grid-template-columns: 100px 80px 80px;
    gap: 10px;
  }
  @media (max-width: 430px) {
    grid-template-columns: 100px 80px;
    gap: 10px;
    .tickets {
      // grid-column: 3/-1;
      // align-self: flex-end;
      border-radius: 10px;
      border: 1px #e8e8e8 solid;
      padding: 5px;
      display: flex;
      span {
        align-self: center;
        text-align: center;
      }
    }
  }
}

.soldout {
  font-size: 24px;
  background-color: rgba(74, 32, 32, 0.564);
  padding: 5px;
  border-radius: 5px;
}
