@use "variables" as *;
@import "mixins";

.socialmedia {
  @include flex;
  gap: 10px;
  svg {
    fill: $light;
    width: 24px;
    height: 24px;
  }
}
.footer {
  display: flex;
  flex-shrink: 0;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 100px;
}

.follow {
  display: flex;
  flex-direction: column;

  p {
    text-wrap: balance;
  }
  @media (max-width: 402px) {
    align-items: flex-start;
  }
}

.madeby {
  display: flex;
  gap: 10px;
  svg {
    width: 20px;
    height: 20px;
    fill: #e8e8e8;
  }
  @media (max-width: 1024px) {
    display: none;
  }
}
