header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // flex-shrink: 0;
  background: rgba(1, 1, 1, 0.7);
  backdrop-filter: blur(2px);
  height: 160px;
  // position: relative;
}

.logo {
  height: 100px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  margin-bottom: 10px;
  gap: 20px;
  width: 100%;
  font-size: 28px;
  opacity: 0.8;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  color: #010101;
  transition: all ease-in 0.5s;
}

.menu-toggle {
  display: none;
}

//burger
@media (max-width: 768px) {
  .menu-toggle {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 20px; /* Adjust the font size as needed */
    margin-right: 15px; /* Adjust the margin as needed */
    color: #ffffff; /* Change the color as needed */
    z-index: 5;
  }

  .menu-toggle:hover {
    color: #ffffff; /* Change the color on hover as needed */
  }

  .menu {
    display: none;
  }

  .menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px; /* Adjust the top spacing as needed */
    left: 0;
    width: 100%;
    background-color: #000000; /* Change the background color as needed */
    z-index: 5;
    opacity: 1;
  }

  .menu a {
    padding: 15px 0;
    color: #ffffff; /* Change the text color as needed */
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: color 0.3s ease;
  }

  .menu a:hover {
    color: #ff0000; /* Change the text color on hover as needed */
  }
}
