header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  background: rgba(1, 1, 1, 0.7);
  backdrop-filter: blur(2px);
  height: 160px;
}

.logo {
  height: 100px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  margin-bottom: 10px;
  gap: 20px;
  width: 100%;
  font-size: 28px;
  opacity: 0.8;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #e8e8e8;
  padding: 10px;
  border-radius: 5px;
  color: #010101;
  transition: all ease-in 0.5s;
}
