// .section-shop {
//   position: relative;
//   z-index: 1;
//   width: 100vw;
//   background: #151515;
//   overflow: hidden;
//   padding: 0 40px;
//   margin: 40px auto;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   @media (max-width: 600px) {
//     height: 50vh;
//   }
//   .merch-title {
//     font-size: 48px;
//   }
// }

// .example-container {
//   width: 100vw;
//   height: 80vh;
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   h2 {
//     color: #e8e8e8;
//     background-color: #151515;
//     padding: 15px;
//     border-radius: 5px;
//     position: absolute;
//     z-index: 2;
//     top: 50%;
//     left: 50%;
//     transform: translateY(-350px) translateX(-50%);
//   }
// }

// .next,
// .prev {
//   top: calc(50% - 20px);
//   position: absolute;
//   background: rgba(0, 0, 0, 0.4);
//   border-radius: 30px;
//   width: 40px;
//   height: 40px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   user-select: none;
//   cursor: pointer;
//   font-weight: bold;
//   font-size: 30px;
//   z-index: 2;
// }

// .next {
//   right: 10px;
// }

// .prev {
//   left: 10px;
//   transform: scale(-1);
// }

// .shop-img {
//   position: absolute;
//   max-width: 90vw;
// }

// .refresh {
//   padding: 10px;
//   position: absolute;
//   background: rgba(0, 0, 0, 0.4);
//   border-radius: 10px;
//   width: 20px;
//   height: 20px;
//   top: 10px;
//   right: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
// }

.merch {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }
}
.merch-wrapper {
  display: flex;
  gap: 100px;
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  .merch-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 36px;
    }
  }
}
