.section-news {
  position: relative;
  z-index: -1;
  padding: 40px;
  margin: 0 auto;
  height: 100vh;
}

.news-piece {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-photo {
  max-width: 450px;
  width: 100%;
  // @media (max-width: 600px) {
  //   width: 300px;
  // }
}
